@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PizzaMama Accueil</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="homePage">
    <div class="centered">
        <!--<h1 class="display-4">PizzaMama Accueil</h1>-->
        <img src="~/images/main_logo.png"/>
        <p><a class="homePage" asp-page="MenuPizzas">Voir le menu</a>.</p>
    </div>
</body>
</html>


